.login{
    width:60%;
    height:40%;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
}    

.card1 {
    background:url('./login.jpg');
}

.cards{
    width:40%;
    height:60%;
    margin-left: 29%;
}

.log {
    background-color: #e7e7e7;
}    

Input[type="text"]{
    font-size:15px;
} 

Input[type="password"]{
    font-size:15px;
} 

.logout{
    vertical-align: center;
    height:150px;
}
    



