.bg-img{
    background-image:url('C:/react/NU-Commerce/src/header/main-background.jpg');
    height:245px;
    background-repeat: no-repeat;
} 

.message{
    height:40px;
    margin-left: 5%;
    margin-top:50px;
    width: 90%;
    justify-content: center;
    border:none;
    background-color: grey;
    overflow: hidden;
}  
        
.container div{
    display:grid;
    grid-template-columns: 300px 300px 300px;
    justify-content: center;
    grid-gap: 50px;
}    

p{
    margin-top:10px;
}  

.body{
    height: 2000px;
    background-color: #0072B5;
}    