.payment {
    background-color: #e7e7e7e7;
}

.submit-button{
    width:60%;
    margin-left: 20%;
    height:40px;
}

.card-payment{
    margin-top: 50px;
    margin-left: 30%;
    width:40%;
}

.text-size{
    width:60%;
    margin-left: 20%;
}

.card-content{
    background-color:#e7e7e7e7;
}
