.nav-bar{
    display:flex;
    flex-direction: row;
    background-color: #0072B5;
    height: 70px;
    width: 100%;
} 

.nav-text {
    margin-top: 25px;
    margin-left:20px;
    margin-right: 50px;
    color: black;
    font-size: 25px;
    font-family: 'Lucida Sans';
}    

.logo-size {
    width: 100px;
    height:50px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 20px;
}    

.search {
    width: 500px;
    height: 30px;
    margin-top: 18px;
    border-radius: 5px;
    background-color: none;
    border-top: salmon;
    border-left: salmon;
    outline-style: none;
    font-size: 15px;
    font-weight: 500;
    font-family:sans-serif;
} 

.button-nav {
    width: 100px;
    height: 34px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 17px;
    border-radius: 5px;
    background-color: yellow;
}   

.search-text {
    margin-top: 15px;
    margin-right: 50px;
    color: black;
    font-size: 15px;
    margin-left: 15px;
}    

.login-nav {
    width: 100px;
    height: 34px;
    font-size: 15px;
    color: black;
    font-weight: bold;
    margin-top: 17px;
    margin-left:100px;
    border-radius: 5px;
    background-color: greenyellow;
    outline-style: none;
}   

.cart-nav {
    width: 100px;
    height: 34px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 17px;
    padding-left: 5px;
    text-align: center;
    margin-left: 100px;
    border-radius: 5px;
    background-color: yellow;
    color:black;
}   

    

.cart-logo{
    margin-right: 5px;
}  

@media (max-width: 700px){
    .search {
        width: 100px;
        height: 20px;
        margin-top: 26px;
        
    }   
    
    .logo-size {
        width: 25px;
        height:40px;
        margin-top: 16px;
    }  
    
    .nav-text {
        margin-top: 30px;
        margin-left:10px;
        margin-right: 10px;
        font-size: 10px;
    } 

    .button-nav {
        width: 45px;
        height: 22px;
        margin-top: 27px;
        font-size:10px;
        
    }    

    .search-text {
        margin-top: 15px;
        margin-right: 15px;
        font-size: 10px;
    }

    .login-nav {
        width: 50px;
        height: 20px;
        font-size: 10px;
        margin-top: 28px;
        margin-left:10px;
    }   

    .cart-nav {
        width: 40px;
        height: 20px;
        font-size: 10px;
        margin-left: 10px;
        margin-top: 28px;
    } 
    
    .nav-bar{
        height:40px;
    } 
    
    .cart-logo{
        visibility: hidden;
    }    
      
}    
